body {
    margin: 0;
}

header {
    margin: 0;
    padding: 10px;
    background-color: peru;
    font-size: 13px;
}

header p {
    margin: 0;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

nav ul {
    position: absolute;
    list-style-type: none;
    display: flex;
    gap: 15px;
    top: 5px;
    left: 15px;
    font-size: 14px;
}

.home {
    position: relative;
    width: 100%;
    height: 710px;
    background-image: url("photo/cof.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .hero {
    position: relative;
    text-align: center;
}

.title {
    position: absolute;
    color: white;
    top: 5px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

nav ul li a:hover {
    transition: 300ms ease;
    color: grey;
}

.ops {
    position: absolute;
    font-size: 70px;
    color: white;
    font-family: "Playfair Display", serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cap {
    position: absolute;
    top: 220px;
    color: burlywood;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.order {
    position: absolute;
    top: 550px;
    width: 225px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    color: white;
    font-family: "Montserrat", sans-serif;
    border: 1px solid white;
}

.order:hover {
    transition: 300ms ease;
    background-color: white;
    color: black;
}

.first {
    width: 100%;
    height: 320px;
    background-color: darkgray;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ft {
    position: absolute;
    left: 380px;
    top: 25px;
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
}

.ft2 {
    position: absolute;
    left: 180px;
    top: 120px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.second {
    width: 100%;
    height: 740px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sd {
    position: absolute;
    left: 535px;
    top: 25px;
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
}

.coffe .im{
    position: absolute;
    width: 400px;
    height: 250px;
    left: 550px;
    gap: 20px;
    top: 220px;
    cursor: pointer;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
}

.coffe .imm{
    position: absolute;
    width: 400px;
    height: 250px;
    left: 100px;
    gap: 20px;
    top: 220px;
    cursor: pointer;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
}

.coffe .immm{
    position: absolute;
    width: 400px;
    height: 250px;
    gap: 20px;
    right: 100px;
    top: 220px;
    cursor: pointer;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
}

.coffe .im:hover {
    transition: 300ms ease;
    transform: scale(1.1);
}

.coffe .imm:hover {
    transition: 300ms ease;
    transform: scale(1.1);
}

.coffe .immm:hover {
    transition: 300ms ease;
    transform: scale(1.1);
}

.sd2 {
    position: absolute;
    top: 460px;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    left: 720px;
    cursor: pointer;
}

.sd3 {
    position: absolute;
    top: 460px;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    left: 245px;
    cursor: pointer;
}

.sd4 {
    position: absolute;
    top: 460px;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    right: 265px;
    cursor: pointer;
}

.btn {
    position: absolute;
    top: 590px;
    width: 225px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    color: burlywood;
    left: 640px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid burlywood;
}

.btn:hover {
    transition: 300ms ease;
    background-color: burlywood;
    color: black;
}

.fd {
    position: absolute;
    top: 50px;
    color: ghostwhite;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    left: 470px;
}

.foot {
    position: relative;
    height: 700px;
    background-color: rgb(40, 38, 38);
}

.nav {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    color: peru;
    top: 200px;
    left: 230px;
    font-weight: bold;
}

.loc {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    color: peru;
    top: 200px;
    left: 550px;
    font-weight: bold;
}

.mar {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    color: peru;
    top: 200px;
    right: 550px;
    font-weight: bold;
}

.med {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    color: peru;
    top: 200px;
    right: 230px;
    font-weight: bold;
}

.sub {
    position: absolute;
    top: 490px;
    width: 225px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    color: white;
    left: 640px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid white;
}

.sub:hover {
    transition: 300ms ease;
    background-color: white;
    color: black;
}

.fss {
    position: absolute;
    bottom: 80px;
    left: 500px;
}

.fss a {
    color: darkgrey;
}